# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Roller.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\Roller\.idea\.idea.Roller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
